@{
    ViewData["Title"] = Localizer["ReportSuccess"];
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-success">
                <div class="card-header bg-success text-white text-center">
                    <h4>@Localizer["ReportReceived"]</h4>
                </div>
                <div class="card-body text-center">
                    <i class="fa-solid fa-check mb-2" style="font-size: 48px;"></i>
                    <h5 class="card-title">@Localizer["ThankYou"]</h5>
                    <p class="card-text mb-4">@Localizer["ReportReceivedDetail"]</p>
                    <p class="card-text flex">@Localizer["YourReferenceId"] <span class="text-bold">@ViewBag.ReportId</span></p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-success mt-3">@Localizer["ReturnHome"]</a>
                </div>
            </div>
        </div>
    </div>
</div>
