@{
    ViewData["Title"] = Localizer["HomeTitle"];
}

<div class="container py-5">
    <div class="row py-3">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">@Localizer["WelcomeHeading", (ViewData["Welcome"] ?? "")]</h1>
            <p class="lead mb-4">@Localizer["IntroLead"]</p>
            <p class="mb-5">@Localizer["IntroP2"]</p>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">@Localizer["FindFarewellPage"]</h3>
                    <p class="text-center mb-4">@Localizer["SearchOrCreate"]</p>
                    
                    <form asp-controller="FarewellPerson" asp-action="Search" method="get" class="mb-3">
                        <div class="input-group">
                            <input type="text" name="searchTerm" class="form-control"
                                   placeholder="@Localizer["SearchPlaceholder"]" required>
                            <button class="btn btn-primary" type="submit">@Localizer["Search"]</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row py-3"> 
        <div class="col-lg-8 mx-auto text-center">
            <p class="mb-3 lead">@Localizer["NotFinding"]</p>
            <p class="mb-4">@Localizer["CantFindCreate"]</p>
            <div class="text-center">
                <a asp-controller="FarewellPerson" asp-action="Create"
                    class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> @Localizer["CreateNewFarewellPage"]
                </a>
            </div>
        </div>
    </div>
</div>
