@{
    ViewData["Title"] = Localizer["PrivacyPolicy"];
}
<h1>@Localizer["PrivacyPolicy"]</h1>

<p>@Localizer["PrivacyIntro1"]</p>

<h2>@Localizer["WhatWeCollect"]</h2>
<ul>
    <li><strong>@Localizer["WhenLeavingMessage"]</strong> 
        <ul>
            <li><em>@Localizer["NameOptional"]</em></li>
            <li><em>@Localizer["EmailOptional"]</em></li>
            <li><em>@Localizer["FarewellMessagePublic"]</em></li>
        </ul>
    </li>
    <li><strong>@Localizer["WhenCreatingPage"]</strong>
        <ul>
            <li><em>@Localizer["DisplayNameReq"]</em></li>
            <li><em>@Localizer["DescriptionReq"]</em></li>
            <li><em>@Localizer["ImageReq"]</em></li>
        </ul>
    </li>
</ul>

<h2>@Localizer["HowYourDataUsed"]</h2>
<ul>
    <li>@Localizer["PubliclyVisible"]</li>
    <li>@Localizer["EmailsPrivate"]</li>
    <li>@Localizer["ImagesThirdParty"]</li>
</ul>

<h2>@Localizer["CookiesAnalytics"]</h2>
<ul>
    <li>@Localizer["EssentialCookies"]</li>
    <li>@Localizer["CFAnalytics"]</li>
    <li>@Localizer["NoAdsTrackers"]</li>
</ul>
<p>@Localizer["CFAnalyticsLinkPrefix"] <a href="https://www.cloudflare.com/web-analytics/" target="_blank" rel="noopener">@Localizer["CFLinkText"]</a>.</p>


<h2>@Localizer["YourChoices"]</h2>
<ul>
    <li>@Localizer["PostAnonymously"]</li>
    <li>@Localizer["RemovalRequest"]</li>
    <li>@Localizer["CreatingPageAgreement"]</li>
</ul>

<h2>@Localizer["OtherThings"]</h2>
<ul>
    <li>@Localizer["DontSell"]</li>
    <li>@Localizer["NoAdsBeyondLogs"]</li>
    <li>@Localizer["OpenSourceNote"]</li>
</ul>

<p>@Localizer["AgreementPara"]</p>
